/MSFT_data.csv
/MSFT_run_id.txt
/MSFT_scaler.pkl
/MSFT_x_train.npy
/MSFT_y_train.npy
/MSFT_x_val.npy
/MSFT_y_val.npy
/MSFT_training_data.csv
/MSFT_val_data.csv
/MSFT_feature_histograms.png
/MSFT_loss.png
/MSFT_predictions.png
/MSFT_predictions.csv
/MSFT_actual.csv
/MSFT_latest.txt
/MSFT_price_split.png
